{{> header }}
<span class="preheader">{{{translate 'FORGET_EMAIL_PREHEADER'}}}</span>
<h1>{{{greetingByGender name sexe}}}</h1>
<p>{{{translate 'FORGET_EMAIL_L1'}}} <strong>{{{translate 'FORGET_EMAIL_TIMING'}}}</strong></p>
<table class="body-action" align="center" width="100%" cellpadding="0" cellspacing="0" role="presentation">
    <tr>
    <td align="center">
        <table width="100%" border="0" cellspacing="0" cellpadding="0" role="presentation">
        <tr>
            <td align="center">
            <a href="{{action_url}}" class="f-fallback button button--green" target="_blank">{{{translate 'RESET_YOUR_PASSWORD'}}}</a>
            </td>
        </tr>
        </table>
    </td>
    </tr>
</table>
<p>{{{translate 'FORGET_EMAIL_L2'}}}</p>
<p><em>{{{translate 'EMAIL_SIGNATURE'}}}</em></p>
<!-- Sub copy -->
<table class="body-sub" role="presentation">
    <tr>
    <td>
        <p class="f-fallback sub">{{{translate 'ERROR_WITH_LINK'}}}</p>
        <p class="f-fallback sub">{{action_url}}</p>
    </td>
    </tr>
</table>
{{> footer }}