{{> header }}
<span class="preheader">{{{translate 'PROJECT_INVOICE_CONFIRMATION_PREHEADER'}}}</span>
<h1>{{{greetingByGender name sexe}}}</h1>
<p>{{{translate 'PROJECT_INVOICE_CONFIRMATION_L1'}}} {{{invoiceId}}} {{{translate 'PROJECT_INVOICE_CONFIRMATION_L2'}}}</p>
<p><em>{{{translate 'EMAIL_SIGNATURE'}}}</em></p>
<!-- Sub copy -->

{{> footer }}