{{> header }}
<span class="preheader">{{{translate 'PWD_RESET_EMAIL_PREHEADER'}}}</span>
<h1>{{{greetingByGender name sexe}}}</h1>
<p>{{{translate 'PWD_RESET_EMAIL_L1'}}}</p>
<p>{{{translate 'PWD_RESET_EMAIL_L2'}}}</p>
<p><em>{{{translate 'EMAIL_SIGNATURE'}}}</em></p>
<!-- Sub copy -->

{{> footer }}